{% extends 'admin_panel/authentication/base.html' %}
{% load static %}

{% block title %}
    <title>Kunal soft Finance | Forgot Password From</title>
{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
        {% if messages %}
            {% for msg in messages %}
                <p class="login-box-msg" style="color: red">{{ msg }}</p>
            {% endfor %}
        {% endif %}



		{% load widget_tweaks %}

        <form method="post" novalidate>
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}

              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>

    </div>
    <!-- /.login-card-body -->
  </div>
{% endblock %}



<h3>Enter new passwordddddddddddd</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
	
</form>