{% extends 'admin_panel/authentication/base.html' %}
{% load static %}

{% block title %}
    <title>Kunal soft Finance | Forgot Password Login</title>
{% endblock %}

{% block body %}

    <div class="callout callout-info">
        <h5><i class="fas fa-info"></i> Note:</h5>
        <h4>Password Rest complete:</h4>

        <p>Your password has been set. You amy go ahead and log in now.</p>
        <a href="/" class="btn btn-primary btn-block" style="color:white;text-decoration: none;">Log In</a>
    </div>
{% endblock %}