{% extends 'admin_panel/authentication/base.html' %}
{% load static %}

{% block title %}
    <title>Kunal soft Finance | Forgot Password</title>
{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
        {% if messages %}
            {% for msg in messages %}
                <p class="login-box-msg" style="color: red">{{ msg }}</p>
            {% endfor %}
        {% endif %}


        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">

<!--	        <input type="email" name="email" class="form-control" placeholder="Email" required>-->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                {{ password_reset_form }}

                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                </div>
            </div>
        </form>

        <p class="mt-3 mb-1">
        <a href="/">Login</a>
        </p>
    </div>
    <!-- /.login-card-body -->
  </div>
{% endblock %}